[DEFAULT]
#log_file = forwarder.log
#log_dir = /var/log/monasca/forwarder

# Default log level is WARNING
# Show debugging output in logs (sets DEBUG log level output)
debug = {{ DEBUG | default('false') }}
# Show more verbose log output (sets INFO log level output) if debug is False
verbose = {{ VERBOSE | default('false') }}

[repositories]
# The driver to use for the metrics repository
metrics_driver = monasca_forwarder.repositories.api_writer.writer:WriterRepository

[zookeeper]
# Comma separated list of host:port
uri = "{{ ZOOKEEPER_URL | default('zookeeper:2181') }}"
partition_interval_recheck_seconds = 15

[kafka_metrics]
# Comma separated list of Kafka broker host:port
uri = {{ KAFKA_URL | default('kafka:9092') }}
group_id = 1_metrics_forwarder
topic = metrics
consumer_id = 1
client_id = 1
database_batch_size = 500
max_wait_time_seconds = 15
# The following 3 values are set to the kakfa-python defaults
fetch_size_bytes = 4096
buffer_size = 4096
# 8 times buffer size
max_buffer_size = 32768
# Path in zookeeper for kafka consumer group partitioning algo
zookeeper_path = /forwarder_partitions/metrics
num_processors = 1

[matching]
matcher_yaml_file = /config/forwarder_metric_match.yml

[writer]
auth_type = headers
headers = X-Tenant-Id:{{ MONASCA_PROJECT_ID }},X-Roles:{{ MONASCA_ROLE | default('monasca-agent') }}
monasca_api_URL = {{ REMOTE_API_URL }}
write_timeout = 5
keystone_url = 
username = 
password = 
user_domain_id =
user_domain_name =
ca_file =
project_id = {{ METRIC_PROJECT_ID }},
project_name = mini-mon
project_domain_name =
project_domain_id =
service_type =
insecure = {{ USE_INSECURE | default('false') }}
keystone_timeout = 10
endpoint_type =
region_name =
