[default]
disable_existing_loggers = 0

[loggers]
keys = root, gunicorn_access, kafka

[handlers]
keys = console, gunicorn_access

[formatters]
keys = context, gunicorn_access

[logger_root]
level = {{ LOG_LEVEL_ROOT }}
handlers = console

[logger_gunicorn_access]
level = {{ LOG_LEVEL_ACCESS }}
handlers = console
propagate = 0
qualname = gunicorn.access

[logger_kafka]
qualname = kafka
level = DEBUG
handlers = console
propagate = 0

[handler_console]
class = logging.StreamHandler
args = (sys.stdout,)
level = {{ LOG_LEVEL_CONSOLE }}
formatter = context

[handler_gunicorn_access]
class = logging.StreamHandler
args = (sys.stdout,)
level = {{ LOG_LEVEL_ACCESS }}
formatter = gunicorn_access

[formatter_context]
class = oslo_log.formatters.ContextFormatter

[formatter_gunicorn_access]
class = logging.Formatter
format = {{ ACCESS_LOG_FORMAT }}
datefmt = %Y-%m-%d %H:%M:%S
