[DEFAULT]
log_config_append=/etc/monasca/log-api-logging.conf

[monitoring]
enable = {{ MONITORING_ENABLE | default(False) }}
statsd_host = {{ STATSD_HOST | default('127.0.0.1') }}
statsd_port = {{ STATSD_PORT | default(8125) }}
statsd_buffer = {{ STATSD_BUFFER | default(50) }}

[service]
region = useast
max_log_size = 1048576

[roles_middleware]
path = /v2.0/log,/v3.0/logs
default_roles = {{ AUTHORIZED_ROLES | default('admin, domainuser, domainadmin, monasca-user') }}
agent_roles = {{ AGENT_AUTHORIZED_ROLES | default('monasca-agent') }}

[log_publisher]
topics = log
kafka_url = {{ KAFKA_URI | default('kafka:9092') }}
max_message_size = 1048576

[kafka_healthcheck]
kafka_url = {{ KAFKA_URI | default('kafka:9092') }}
kafka_topics = log

[keystone_authtoken]
auth_type = password
auth_url = {{ KEYSTONE_IDENTITY_URI }}
auth_uri = {{ KEYSTONE_AUTH_URI }}
username = {{ KEYSTONE_ADMIN_USER }}
password = {{ KEYSTONE_ADMIN_PASSWORD }}
user_domain_name = Default
project_name = {{ KEYSTONE_ADMIN_TENANT }}
project_domain_name = Default
service_token_roles_required = true
memcached_servers = {{  MEMCACHED_URI }}
insecure = false
cafile =
certfile =
keyfile =
