bind = '0.0.0.0:{{ MONASCA_CONTAINER_LOG_API_PORT }}'
proc_name = 'monasca-log-api'

backlog = {{ GUNICORN_BACKLOG|int }}
workers = {{ GUNICORN_WORKERS|int }}
worker_class = '{{ GUNICORN_WORKER_CLASS }}'
timeout = {{ GUNICORN_TIMEOUT|int }}

{% if ADD_ACCESS_LOG %}
accesslog = '-'
access_log_format = '{{ ACCESS_LOG_FIELDS }}'
{% endif %}
capture_output = True
