/*
 * To require ssl connections add 'REQUIRE SSL' to the end of all grant statements
 */
{% set notification_pw = NOTIFICATION_PASSWORD | default('password') %}
{% set monapi_pw = MONAPI_PASSWORD | default('password') %}
{% set thresh_pw = THRESH_PASSWORD | default('password') %}

GRANT ALL ON mon.* TO 'notification'@'%' IDENTIFIED BY '{{ notification_pw }}';
GRANT ALL ON mon.* TO 'notification'@'localhost' IDENTIFIED BY '{{ notification_pw }}';
GRANT ALL ON mon.* TO 'monapi'@'%' IDENTIFIED BY '{{ monapi_pw }}';
GRANT ALL ON mon.* TO 'monapi'@'localhost' IDENTIFIED BY '{{ monapi_pw }}';
GRANT ALL ON mon.* TO 'thresh'@'%' IDENTIFIED BY '{{ thresh_pw }}';
GRANT ALL ON mon.* TO 'thresh'@'localhost' IDENTIFIED BY '{{ thresh_pw }}';
