[identity]
username = {{ OS_USERNAME }}
password = {{ OS_PASSWORD }}
tenant_name = {{ OS_TENANT_NAME }}
domain_name = {{ OS_DOMAIN_NAME }}
alt_username = {{ ALT_USERNAME }}
alt_password = {{ ALT_PASSWORD }}
alt_tenant_name = {{ ALT_TENANT_NAME }}
use_ssl = {{ AUTH_USE_SSL }}
auth_version = v3
uri = {{ AUTH_URI }}
uri_v3 = {{ AUTH_URI_V3 }}

[auth]
use_dynamic_credentials = {{ USE_DYNAMIC_CREDS }}
tempest_roles =
admin_project_name = {{ ADMIN_PROJECT_NAME }}
admin_username = {{ ADMIN_USERNAME }}
admin_password = {{ ADMIN_PASSWORD }}
admin_domain_name = {{ ADMIN_DOMAIN_NAME }}
