monasca-kibana-plugin.auth_uri: http://{{ KEYSTONE_URI }}
monasca-kibana-plugin.enabled: {{ MONASCA_PLUGIN_ENABLED }}
monasca-kibana-plugin.cookie.isSecure: False
elasticsearch.url: http://{{ ELASTIC_SEARCH_URL }}
server.basePath: "{{ BASE_PATH }}"
