monasca-kibana-plugin.auth_uri: {{ KEYSTONE_URI }}
monasca-kibana-plugin.enabled: {{ MONASCA_PLUGIN_ENABLED }}
monasca-kibana-plugin.cookie.isSecure: False
elasticsearch.url: {{ ELASTIC_SEARCH_URL }}
server.basePath: "{{ BASE_PATH }}"
