[monasca]
node1 ansible_ssh_user=root ansible_ssh_port="1{{build_number}}" ansible_ssh_host={{node1_ip}} docker_name={{node1_name}}

[monasca:vars]
keystone_host={{openstack_ip}}
keystone_port=31{{build_number}}
keystone_admin_port=51{{build_number}}
monasca_api_port=81{{build_number}}
openstack_docker_name={{openstack_name}}
