users:
  - username: mini-mon
    password: password
    project: mini-mon
    role: monasca-user

  - username: monasca-agent
    password: password
    project: mini-mon
    role: monasca-agent

  - username: mini-mon
    password: password
    project: mini-mon
    role: admin

  - username: admin
    password: secretadmin
    project: admin
    role: monasca-user

  - username: demo
    password: secretadmin
    project: demo
    role: monasca-user

  - username: monasca-read-only-user
    password: password
    project: mini-mon
    role: monasca-read-only-user

endpoints:
  - name: monasca
    description: Monasca monitoring service
    type: monitoring
    region: RegionOne
    url: {{ KEYSTONE_MONASCA_ENDPOINT }}
    interfaces:
      - name: internal
        url: {{ KEYSTONE_MONASCA_ENDPOINT }}
      - name: public
        url: {{ KEYSTONE_MONASCA_ENDPOINT }}
        resolve: true
      - name: admin
        url: {{ KEYSTONE_MONASCA_ENDPOINT }}
        resolve: true
        
