--
# Remember, leave a key empty if there is no value. None will be a string,
# not a Python "NoneType"
{% if curator_actions|length >= 1 %}
actions:
  {% for item in curator_actions %}

  {{ loop.index }} :
        action: delete_indices
        description: >-
          {{ item.description }}
        options:
          ignore_empty_list: True
          timeout_override:
          continue_if_exception: False
          disable_action: {{ item.disable }}
        filters:
        {% if curator_excluded_index|length >=1 %}
          {% for it in curator_excluded_index %}

          - filtertype: pattern
            kind: prefix
            value: {{ it.index_name }}
            exclude: {{ it.exclude }}
          {% endfor %}
        {% endif %}
        {% if item.delete_by == "age" %}

          - filtertype: age
            source: name
            direction: older
            timestring: "%Y-%m-%d"
            unit: days
            unit_count: {{ item.deleted_days }}
            field:
            stats_result:
            epoch:
            exclude: False
        {% elif item.delete_by == "space" %}

          - filtertype: space
            disk_space: {{ item.deleted_space }}
            reverse: True
            use_age: False
            source: creation_date
            timestring:
            field:
            stats_result:
            exclude: False
        {% endif %}
  {% endfor %}
{% endif %}
